<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <form #articleForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Article Title</label>
        <input type="text" [(ngModel)]="article.title" name="title" class="form-control" required placeholder="Enter Article Title Here">
      </div>
      <div class="form-group">
        <label>Image Url</label>
        <input type="text" [(ngModel)]="article.image" name="image" class="form-control" required placeholder="Image Url">
      </div>
      <div class="form-group ">
        <div class="row">
          <div class="col-md-3">
            <label>Created At</label>
            <input type="date" [(ngModel)]="article.createdAt" name="createdAt" class="form-control" required placeholder="Created At">

          </div>
        </div>


      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea [(ngModel)]="article.description" required name="description" class="form-control" rows="8"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Article</button>

    </form>

  </div>
</div>