<div class="container">
    <div class="row">
      <div class="col-xs-4 ">
  
        <div  class="row socialPad">
          <div class="col-sm-2 col-xs-3">
            <!--<span>&nbsp;</span>-->
            <a class="social"  href="#"><i style="color: black" class="fa fa-2x fa-facebook" aria-hidden="true"></i> </a>
          </div>
          <div class="col-sm-2 col-xs-3">
            <!--<span>&nbsp;</span>-->
            <a class="social"  href="#"><i style="color: black" class="fa fa-2x fa-twitter" aria-hidden="true"></i> </a>
          </div>
          <div class="col-sm-2 col-xs-3">
            <!--<span>&nbsp;</span>-->
            <a class="social"  href="#"><i style="color: black" class="fa fa-2x fa-instagram" aria-hidden="true"></i> </a>
          </div>
          <div class="col-sm-2 col-xs-3">
  
              <a class="social"  href="#"><i style="color: black" class="fa fa-2x fa-linkedin" aria-hidden="true"></i> </a>
          </div>
  
        </div>
  
  
      </div>
      <div class="col-xs-offset-2 col-xs-6  ">
        <div class="marker">
          <h4  >&copy; Designed & Developed by <a href="#">Bait Ul Libas Team</a>.
          </h4>
        </div>
  
      </div>
  
  
    </div>
    <br>
  
  </div>
  