<br>
<br>
<br>
<br>

<div class="container">
    <button style="float: right;" (click)="deleteArticle()"  class="btn btn-danger ">Delete this Article</button>
    <br>
  <div class="row">

    <form #articleForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label> Update Article Title</label>
        <input type="text" [(ngModel)]="article.title" name="title" class="form-control" required placeholder="Enter Article Title Here">
      </div>
      <div class="form-group">
        <label> Update Image Url</label>
        <input type="text" [(ngModel)]="article.image" name="image" class="form-control" required placeholder="Image Url">
      </div>
      <!-- Since in update case we dont need to update the created date therefore we are commenting out this part  -->
      <!-- <div class="form-group ">
        <div class="row">
          <div class="col-md-3">
            <label>Created At</label>
            <input type="date" [(ngModel)]="article.createdAt" name="createdAt" class="form-control" required placeholder="Created At">

          </div>
        </div> 
      </div>-->
      <div class="form-group">
        <label>Update Description</label>
        <textarea [(ngModel)]="article.description" required name="description" class="form-control" rows="8"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Update Article</button>

    </form>

  </div>
</div>