<br>  <br>  <br>
<!-- Page Content -->
<div class="container">

 
  <div class="row">
   
    <!-- <div *ngFor='let article of articles'> -->
      <!-- Post Content Column -->
      <!-- <div class="col-lg-10"> -->
        <!-- Title -->
        <!-- <h1 class="mt-4">{{article.title}}</h1> -->
        <!-- Date/Time -->
        <!-- <p>Posted on {{article.createdAt | date:'yyyy-MM-dd'}} </p>
        <hr> -->
        <!-- Preview Image -->
        <!-- <div class="row">
          <div class="col-md-4"> 
        
            <img class="img-fluid rounded" src="{{article.image}}" alt="http://placehold.it/300x200">
          </div>
          <div class="col-md-8">
            <p class="">{{article.description}}</p>
        
            <a [routerLink]="['/update',article._id]" class="btn btn-info">Update this Article </a>
          </div>
         

        </div>
      </div>
    </div> -->
    <!-- ends Here -->
  
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">In Stock</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of userData'>
          <th scope="row">1</th>
          <td>{{data.name}}</td>
          <td>{{data.inStock}}</td>
         <td> <button class="btn btn-info">Update</button></td>
         <td> <button class="btn btn-warning">Sale Item</button></td>
        </tr>
        
      </tbody>
    </table>




  </div>

</div>
<br>
<br>

